{% extends 'base.html' %}
{% block content %}
    <div role="main" class="container bg-primary text-light" style="padding-top:120px">
        <h1>
            Jaki jest pomysł serwisu?
        </h1>
        <p style="text-align: justify">
            Serwis służy do pomocy uczniom w zakresie nauki historii. Zawiera on mapy myśli z kolejnymi wydarzaniami z
            danego okresu historycznego, aby pomóc uczniom w nauce historii. Oprócz map myśli są jeszcze mapy z
            zaznaczonymi miejscami w których przebiegały poszczególne wydarzenia historyczne. W ten sposób uczeń może łatwiej
            zapamiętać chronologię i miejsce wydarzeń.
        </p>
        <p style="text-align: justify">
            Użytkownik niezalogowany może przeglądać okresy i się z nich uczyć. Użytkownik zalogowany ma możliwość proponować
            nowe okresy oraz wydarzenia w okresach, które już się znajdują na stronie. W ten sposób i wy możecie pomóć
            w budowaniu serwisu.
        </p>
        <h1> Co to jest mapa myśli?</h1>
        <p style="text-align: justify">
            Jest szczególny rodzaj notowania, mający według jego twórców zwiększać efektywność pracy i zapamiętywania
            oraz aktywować intuicję dzięki wykorzystaniu synergicznej współpracy obu półkul mózgowych. Metoda została
            opracowana przez dwóch brytyjskich naukowców: Tony’ego i Barry’ego Buzana.
            </pstyle="text-align:>
        <p style="text-align: justify">
            Twórcy metody twierdzą, że podczas sporządzania notatek w sposób tradycyjny, aktywna jest jedynie lewa
            półkula mózgu, odpowiedzialna za myślenie logiczne, linearność, analizę, słowa i liczby. Dzięki użyciu oprócz
            słów i symboli także kolorów, rysunków oraz efektu trójwymiarowości uaktywnia się prawa półkula mózgu
            odpowiedzialna za wyobraźnię, rytm, postrzeganie przestrzenne, kolory i Gestalt (obraz całości) a obie
            półkule synergicznie ze sobą współpracują.
        </p>
        <p style="text-align: justify">
            Celem mapy myśli jest podniesienie efektywności pracy a procesu nauki i zapamiętywania uczynienie
            prostszym, szybszym i przyjemniejszym. Sprzyja myśleniu twórczemu i wielokierunkowemu, a nie nudnemu i
            odtwórczemu, aczkolwiek twórcy metody nie przedstawili żadnych badań potwierdzających te tezy.
        </p>
        <p style="text-align: justify">
            Mapa myśli to innowacyjny sposób przedstawiania niektórych zagadnień ułatwiający naukę. Ma na celu
            przyspieszyć pracę i dać lepszy efekt zapamiętania. Do tworzenia mind map używa się rysunków i krótkich
            haseł. Mapa powinna być przejrzysta, czytelna, kolorowa, zwracająca uwagę na najważniejsze rzeczy-
            istotne dla twórcy.
        </p>
        <h1>Stworzone okresy historyczne</h1>
        <ul>
            <li> Powstanie listopadowe</li>
            <li> Powstanie styczniowe</li>
            <li> Wojna trzydzietoletnia</li>
            <li> Rewolucja amerykańska</li>
        </ul>
    </div>
{% endblock %}